<div class="container my-5 p-4">

  <h1>Create your bookmark</h1>

  <%# form to create a new bookmark %>
  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.input :comment %>
    <%= f.association :movie %>
    <%= f.submit "Add", class: "btn btn-primary", data: { controller: "disable-button", action: "submit->disable-button#disable" }%>
  <% end %>

  <%# link home %>
  <%= link_to 'Back home', lists_path %>

</div>
