<!DOCTYPE html>
<html>
  <head>
    <title>TrainWatchlist</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render "shared/navbar" %>
    <%= yield %>

    <%# Typed.js %>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <script>
        var typed = new Typed(".mov",{
        strings: [ "Hello there,", "Welcome on Watchlist!", "What do you want to watch?"] ,
        typeSpeed: 10,
        backSpeed: 10,
        loop: false
        })
    </script>

  </body>
</html>
